/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#AI_mail_ {
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
}

#AI_mappointer_z {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 1612px;
  top: 82px;
  overflow: visible;
}
.AI_mappointer_bc {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bd {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
}

#AI_mail_ {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
  overflow: visible;
}

#AI_mappointer_z {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 1612px;
  top: 82px;
  overflow: visible;
}
.AI_mappointer_bc {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bd {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
}

#AI_mail_ {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
  overflow: visible;
}

#AI_mappointer_bb {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.AI_mappointer_bc {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bd {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
} */
