/* #AI_mail_ {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
  overflow: visible;
}
#AI_mappointer_ {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 1612px;
  top: 82px;
  overflow: visible;
}
.AI_mappointer_ba {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bb {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
}

#AirCart {
  filter: drop-shadow(10px 4px 7px rgba(0, 0, 0, 0.161));
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  width: 451px;
  height: 172px;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  color: rgba(26, 21, 19, 1);
  letter-spacing: 0.01px;
}
#AI_mail_ {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
  overflow: visible;
}

#AI_mappointer_ {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 1612px;
  top: 82px;
  overflow: visible;
}
.AI_mappointer_ba {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bb {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
}

#AI_mail_ {
  position: absolute;
  width: 60px;
  height: 45px;
  left: 1716px;
  top: 91px;
  overflow: visible;
}

#AI_mappointer_ {
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 1612px;
  top: 82px;
  overflow: visible;
}
.AI_mappointer_ba {
  overflow: visible;
  position: absolute;
  width: 37.6px;
  height: 60px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#AI_home_bb {
  position: absolute;
  width: 59.988px;
  height: 60.1px;
  left: 1827px;
  top: 82px;
  overflow: visible;
}

#Sign_in {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  left: 719px;
  top: 144px;
  overflow: visible;
  width: 399px;
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 131px;
  color: rgba(112, 10, 10, 1);
  letter-spacing: 0.01px;
}

#Username__ {
  position: absolute;
  left: 604px;
  top: 554px;
  overflow: visible;
  width: 225px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -10px;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112, 112, 112, 1);
  letter-spacing: 0.01px;
}
#Passwords__ {
  position: absolute;
  left: 604px;
  top: 754px;
  overflow: visible;
  width: 245px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -10px;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112, 112, 112, 1);
  letter-spacing: 0.01px;
}
#__Register__ {
  position: absolute;
  left: 136px;
  top: 970px;
  overflow: visible;
  width: 231px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -10px;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112, 112, 112, 1);
  letter-spacing: 0.01px;
}

#Sign_in_bp {
  position: absolute;
  left: 850px;
  top: 950px;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -10px;
  text-align: center;
  font-family: Segoe UI Emoji;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112, 112, 112, 1);
  letter-spacing: 0.01px;
}

.signinForm {
  background-color: rgba(255, 255, 255, 1);
  background: transparent;
  border: none;
  width: 15em;
  height: 1em;
  outline: none;
  font-size: 30px;
}
 */
