{% extends "html/nav.html" %} {% load static %} {% block content %}
    {# It is for home page to show display of products. It contains images, description, title #}
    <style>
        .poster {
            position: relative;
            top: 0;
            left: 0;
        }

        .shop {
            position: absolute;
            top: 100px;
            left: 400px;
        }
    </style>
    <div style="position: relative; left: 0; top: 0;">
        <img src="media/poster.png" alt="Poster" class="poster" style='height: 300px; width: 100%;'>
        <img src="media/shop.jpeg" alt="Poster" class="shop" style='width: 30%'>
    </div>
    <br> <br>
    <head>
        <link rel="stylesheet" href="{% static 'assests/homeMain.css' %}">
        <link rel="stylesheet" href="{% static 'assests/pagination.css' %}">
    </head>
    <body>
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
                <div class="list-group">
                    {% comment %} category {% endcomment %}
                    <form action='/category/'>
                        <button style="background-color:#97ab4f;" class="list-group-item list-group-item-action active">
                            Category
                        </button>
                        <button type='submit' name='category' value="Foods"
                                class="list-group-item list-group-item-action">Foods<i class="arrow-right"></i></button>
                        <button type='submit' name='category' value="Fruits"
                                class="list-group-item list-group-item-action">Fruits<i class="arrow-right"></i>
                        </button>
                        <button type='submit' name='category' value="Drinks"
                                class="list-group-item list-group-item-action">Drinks<i class="arrow-right"></i>
                        </button>
                        <button type='submit' name='category' value="Others"
                                class="list-group-item list-group-item-action">Others<i class="arrow-right"></i>
                        </button>
                    </form>
                </div>

            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for product in product %}
                        <div class="col-lg-6 col-md-6 mb-4">
                            <div class="card h-100">
                                {% if product.productimage_set.all %}
                                    {% for item in product.productimage_set.all %}
                                        {% if item.featured %}
                                            {# to print the image#}
                                            <img style="width:200px; height:200px; margin: 0 auto;"
                                                 src="media/{{ MEDIA_URL }}{{ item.image }}" class="card-img-top"/>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <div class="card-body">
                                    {#  to print the title, price and description. "truncatewords: #" : is to print the numbers of words in description #}

                                    <a href='{{ product.get_absolute_url }}'><h4>{{ product.title }}</h4></a>
                                    <p>
                                        {#  The link of a unique product. "get_absolute_url" is a function in models.py #}
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-outline-success mr-2"
                                           role="button">View</a>
                                        <a href='{% url "update_cart" product.slug %}?qty=1'
                                           class="btn btn-outline-success" role="button">Add To Cart</a>
                                    </p>Price: <b>${{ product.salePrice }}</b>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-center" style="text-align: center">
                    <nav class="pagination">
                    <ul class="crumbs">
                        {% if product.has_previous %}
                            <li><a class="crumb crumb__prev" href="?page={{ product.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                        {% else %}
                            <li class="crumb disabled"><i class="fa fa-chevron-left"></i></li>
                        {% endif %}
                        {% for i in product.paginator.page_range %}
                            {% if product.number == i %}
                                <li class="crumb crumb__active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a class="crumb" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if product.has_next %}
                            <li><a class="crumb crumb__next" href="?page={{ product.nect_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                        {% else %}
                            <li class="crumb disabled"><i class="fa fa-chevron-right"></i></li>
                        {% endif %}
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock content %}
