{% extends "html/nav.html" %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'assests/page.css' %}" />
</head>
<body>
  <!-- <img id="Image_3" src="{% static 'images/Image_3.jpg' %}" />

  <img id="Image_2" src="{% static 'images/Image_2.jpg' %}" />
  <img id="Image_4" src="{% static 'images/Image_4.jpg' %}" />

  <div id="Veggies">
    <span><a href="#" class="customA">Veggies</a></span>
  </div>

  <div id="Fruits">
    <span><a href="#" class="customA">Fruits</a></span>
  </div>

  <div id="Drinks">
    <span><a href="#" class="customA">Drinks </a></span>
  </div> -->
  <!-- <div id="Sign_in">
    <span><a class="customA" href="{% url 'signin' %}">Sign In</a></span>
  </div> -->
   <!-- <div id="Sign_up">
    <span><a href="{% url 'register' %}" class="customA">Sign Up</a></span>
  </div> -->
  <div>
    <span><a  href="{% url 'signin' %}">Sign In</a></span>
  </div>
  <div>
    <span><a href="{% url 'register' %}" >Sign Up</a></span>
  </div>
</body>
{% endblock content %}
