
{% extends "html/nav.html" %} {% load static %} {% block content %}
{# It is to custom an individual product  #}
<h1>{{ products.title }}</h1>
{% for img in images %}

    {% if img.featured %}
    <div class="col-xs-12 col-md-6">
        <img src="media/{{ MEDIA_URL }}{{ img.image }}" class="card-img-top" />
    </div>     
    {% elif  not img.featured %}
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail"><img src="media/{{ MEDIA_URL }}{{ img.image }}" class="card-img-top" />
   </a> </div>
     
       
    {% endif %}
{% endfor %}

{% endblock content %}