{% load static %} {% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'assests/signin.css' %}"/>
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Tangerine"
        />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

    </head>

    <body style="overflow: auto; max-width: 100%;">
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6" style="background: transparent">
                    <div class="content-bottom">
                        <h1 class="login-title" style="color: aliceblue;text-align: center">Organika Grocers</h1>
                        <form method="post" action="signin">
                            {% csrf_token %}
                            <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input
                                            name="username"
                                            placeholder="Username"
                                            type="text"
                                    />
                                </div>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input
                                            name="password"
                                            placeholder="Password"
                                            type="password"
                                    />
                                </div>
                            </div>
                            <div class="wthree-field">
                                <button type="submit" class="btn">Sign in</button>
                            </div>
                        </form>
                        <div class="wthree-field">
                            <button type="submit" class="btn" style="background: blue"><a href="{% url 'register' %}"
                                                                                          class=""
                                                                                          style="color: aliceblue">Register</a>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
    {% csrf_token %}
{% endblock content %}
